/************************************************************CSS de la pagina de cursos - Jorge*/

/* Contenedor principal */
.container_capacitacion {
    margin-top: 150px;
    margin: 150px 30px 30px 30px;
    border-radius: 5px;
    display: grid;
    gap: 1.5rem;
    padding: 2rem;
    background-color: #ffffff;
  }
  
  /* Estilos para los títulos */
  .container_capacitacion{
    text-align: center;
    color: #023047;
    margin-bottom: 1.5rem;
  }
  
  /* Estilos de la tarjeta */
  .card {
    border: 1px solid #d1d5db;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    background-color: #000000;
  }
  
  /* Efecto al pasar el ratón */
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
  
  /* Imagen dentro de la tarjeta */
  .card figure {
    margin: 0;
  }
  
  .card img {
    width: 100%;
    height: auto;
  }
  
  /* Contenido de la tarjeta */
  .contenido {
    padding: 2rem;
  }
  
  .contenido h3 {
    color: #53afdd;
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  
  .contenido p {
    font-size: 1rem;
    color: #ffffff;
    margin-bottom: 1rem;
  }
  
  .contenido a {
    text-decoration: none;
    color: #2eec08;
    font-weight: bold;
  }
  
  .contenido a:hover {
    color: #ffb703;
  }
  
  /* Responsive: columnas para pantallas grandes */
  @media (min-width: 768px) {
    .container_capacitacion {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
