/* Contenedor principal */
  
  
  /* Selectores de Mes y Año */
    .container-fluid{
        margin-top: 150px;
        justify-items:center;
    }

  #months, #years {
    display: inline-block;
    margin: 1rem;
    
  }
  
  .form-select {
    font-size: 1rem;
    padding: 0.5rem;
    border: 1px solid #53afdd;
    border-radius: 5px;
    background-color: #ffffff;
    color: #023047;
    transition: 0.3s;
  }
  
  .form-select:hover {
    border-color: #f5e505;
  }
  
  /* Contenedor de información de eventos */
  .info-box {
    margin: 1.5rem 30px 0 30px;
    padding: 1.5rem;
    border: 1px solid #e5e7eb;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    justify-items:flex-start;
  }
  
  /* Tarjeta de evento */
  .evento {
    width: 50%;
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
    background-color: #656768;
    padding: 1rem;
    border-radius: 8px;
    border: 1px solid #e0e0e0;
    transition: box-shadow 0.3s;
  }
  
  .evento:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  }
  
  /* Imagen del evento */
  #logevento {
    width: 80px;
    height: 80px;
    margin-right: 1rem;
    border-radius: 50%;
  }
  
  /* Texto dentro de la tarjeta */
  .evento-texto h3 {
    margin: 0;
    font-size: 1.1rem;
    color: #eedf09;
  }
  
  .evento-texto p {
    margin: 0.5rem 0 0;
    color: #ffffff;
    font-size: 0.9rem;
  }
  
  /* Botón Detalles */
  .evento button {
    margin-left: auto;
    padding: 0.5rem 1rem;
    border: none;
    background-color: #eedf09 ;
    color: #000000 ;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .evento button:hover {
    background-color: #fcf268;
  }
  
  /* Responsivo */
  @media (min-width: 768px) {
    .evento {
      max-width: 600px;
    }
  }
  
