/* Contenedor principal */
.container_tutorial_video {
    justify-content: center;
    margin: 150px 45px 30px 45px;
    border-radius: 5px;
    display: grid;
    gap: 1.5rem;
    padding: 2rem;
    background-color: #ffffff;
  }

  h3{
   /* color: #206405;*/
    font-size: 28px;
  }

  